/* @font-face {
    font-family: 'Createland';
    src: local('Createland'), url(./fonts/Createland.otf) format('otf');
} */

body {
    font: 32px "Patrick Hand", Futura, sans-serif;
    color: floralwhite;
    margin: 20px;
    background-color: rgb(4, 3, 26);
}

a {
    color: aqua;
}

span {
    font-family: "Patrick Hand", Futura, sans-serif;
}

.board-row {
    display: flex;
}

.player-symbol {
    font-family: "Patrick Hand SC", Futura, sans-serif;
    font-size: 48px;
}

.green {
    color: lawngreen;
}

.red {
    color: lightcoral;
}

.grey {
    color: grey;
}

.white {
    color: white;
}

.display-table {
    display: inline-table;
}

.display-inline-grid {
    display: inline-grid;
}

.pd-40 {
    padding: 40px;
}

.pdb-0 {
    padding-bottom: 0;
}

.mg-30 {
    margin: 30px;
}

.mgt-30 {
    margin-top: 30px;
}

.mgt-50 {
    margin-top: 50px;
}

.mgb-0 {
    margin-bottom: 0;
}

.mgl-10 {
    margin-left: 10px;
}

.mglr-20 {
    margin: 0px 20px;
}

.pdlr-15 {
    padding: 0px 15px;
}

.pdtb-15 {
    padding: 15px 0px;
}

.pdtb-20 {
    padding: 20px 0px;
}

.center {
    text-align: center;
}

.left {
    text-align: start;
}

.right {
    text-align: end;
}

.width-100 {
    width: 100%;
}
 
.vertical-middle {
    vertical-align: middle;
}

.square {
    background: rgb(231, 231, 231);
    border: 3px solid rgb(85, 85, 85);
    float: left;
    font-size: 144px;
    font-family: "Patrick Hand SC", Futura, sans-serif;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
}

.square-winner {
    background: lawngreen;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.game-info {
    margin-left: 20px;
}

.game-board {
    text-align: -webkit-center;
    flex-grow: 1;
}

.input-button {
    height: 20px;
    margin: 20px;
}

/* .icon {
    width: fit-content;
    margin: auto;
} */

.icon-button {
    font: 38px "Patrick Hand", Futura, sans-serif;
    width: fit-content;
    background: transparent;
    border: none;
    color: lawngreen;
    outline: none;
}

.magnify-2 {
    transform: scale(2);
}

.magnify-4 {
    transform: scale(4);
}

.magnify-0-5 {
    transform: scale(0.5);
}

.inline-block {
    display: inline-block;
}

.container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verdict {
    width: fit-content;
    font-weight: bold;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(155, 0, 0);
    z-index: 10;
    text-shadow:
    -2px -2px 5px rgb(4, 3, 26),
    2px -2px 5px rgb(4, 3, 26),
    -2px 2px 5px rgb(4, 3, 26),
    2px 2px 5px rgb(4, 3, 26);  
}

.blurred {
    filter: blur(5px);
}

.fa-shadow {
    text-shadow: 0 0 5px red;
}

.note {
    font: 20px "Patrick Hand", Futura, sans-serif;
}